* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	color: #33475b;
}

/* utilities */

.container {
	width: 1180px;
	margin: auto;
}

.w-25 {
	width: 25%;
}

.w-30 {
	width: 30%;
}

.w-30 {
	width: 30%;
}

.w-40 {
	width: 40%;
}

.w-43 {
	width: 43%;
}

.w-50 {
	width: 50%;
}

.w-60 {
	width: 60%;
}

.w-70 {
	width: 70%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.menu-inline {
	display: inline-block;
}

.menu-inline li {
	display: inline-block;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 32px;
}

/* buttons */

.btn {
	border-radius: 5px;
}

.btn {
	padding: 10px;
	font-size: 14px;
}

.btn.white {
	background-color: #fff;
	color: #fe775a;
	border: 1px solid #fe775a;
}

.btn.orange {
	background-color: #fe775a;
	color: #fff;
	border: 1px solid transparent;
}

.jumbotron .btn.orange {
	padding: 20px;
	min-width: 185px;
	display: inline-block;
	text-align: center;
	margin-bottom: 35px;
}

.learn .btn.orange {
	display: block;
	width: 155px;
	height: 60px;
	line-height: 40px;
	margin: auto;
}

.btn.grey {
	background-color: #cad6e2;
	color: #33475b;
	border: 1px solid transparent;
}

/* header one */

section.header-one,
section.header-two {
	line-height: 80px;
}

.menu-inline li {
	margin-right: 20px;
}

.menu-inline li a {
	color: #33475b;
}

.menu-inline li:last-child {
	margin-right: 0px;
}

li:first-child .fa-globe-europe {
	margin-right: 5px;
	color: #33475b;
}

.header-one li:first-child .fa-chevron-down {
	margin-left: 5px;
	vertical-align: -1px;
	color: #33475b;
	margin-right: -5px;
}

.text-left .menu-inline li:nth-child(2) {
	border-left: 1px solid #33475b;
	height: 20px;
	vertical-align: middle;
}

.text-right .menu-inline li:first-child .fa-search {
	color: #1eacc3;
	font-size: 14px;
}

.header-one {
	background: #f4f9fd;
	border-bottom: 1px solid #33475b;
}

/* header two */

.header-two div img {
	vertical-align: middle;
}

.header-two .fa-chevron-down {
	margin-left: 15px;
	vertical-align: -5%;
}

/* main */

main {
	margin: auto;
}

/* jumbotron */

.jumbotron {
	background: #fff2ee;
	padding: 60px 0px 185px;
	background-image: url(../img/jumbotron.png);
	background-position: 300px 0px;
	background-repeat: no-repeat;
	border-bottom: 3px solid #33475b;
	color: #33475b;
}

.jumbotron h1 {
	font-size: 50px;
	margin-bottom: 30px;
}

.jumbotron p {
	line-height: 27px;
	margin-bottom: 30px;
}

.jumbotron .w-50 div.free {
	font-size: 13px;
}

/* band */

.band {
	background: #afebe4;
	height: 85px;
	border-bottom: 3px solid #33475b;
}

/* power */

.power {
	background: #f4f9fd;
	text-align: center;
	padding: 50px 0px 40px;
	margin: auto;
	color: #33475b;
}

.power .cube {
	width: 250px;
}

.power h2 {
	font-size: 32px;
	margin-bottom: 30px;
}

.power p {
	line-height: 30px;
}

/* learn */

.learn {
	background: #f4f9fd;
	padding: 10px 0px;
}

.learn .container {
	background: #fff;
	padding: 70px 0px 70px;
	box-shadow: 0 0 10px #d6dfe6;
	border-radius: 5px;
}

.learn .more {
	text-align: center;
	margin: auto;
	padding: 0px 70px 0px 120px;
}

.learn .book {
	width: 140px;
	margin-bottom: 20px;
}

.learn .feature {
	padding: 0px 50px 0px 30px;
	color: #33475b;
}

.learn .feature h3 {
	font-size: 24px;
	margin-bottom: 30px;
}

.learn .feature .forever {
	margin-bottom: 20px;
	line-height: 30px;
	max-width: 600px;
}

.learn .feature .popolar {
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
	margin-right: 60px;
}

.learn .feature .line {
	display: inline-block;
	width: 430px;
	height: 2px;
	background-color: #899397;
	vertical-align: 5px;
}

.learn .feature .menu-inline li .fa-check-circle {
	margin-right: 15px;
	color: #fe775a;
}

/* hub */

.hub {
	background: #f4f9fd;
	color: #33475b;
}

.hub .container {
	background: #f4f9fd;
	padding: 40px 0px 50px;
}

.hub .column {
	width: 30%;
	margin-right: 5%;
	background: #fff;
	text-align: center;
	padding: 20px 36px 20px;
	box-shadow: 0 0 10px #d6dfe6;
	border-radius: 5px;
}

.hub .container .column:last-child {
	margin-right: 0;
}

.hub .container .column:nth-child(2) {
	padding: 15px 36px 20px;
}

.hub .column img {
	height: 100px;
	width: 100px;
	margin-bottom: 25px;
}

.hub .column img.bag {
	height: 120px;
	width: 120px;
	margin-bottom: 10px;
}

.hub .column h3 {
	margin-bottom: 30px;
	font-size: 24px;
}

.hub .column p {
	margin-bottom: 60px;
	line-height: 30px;
}

.hub .column .line {
	display: inline-block;
	width: 100%;
	height: 2px;
	background-color: #899397;
	margin-bottom: 35px;
}

.hub .column h4 {
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
}

.hub .column .characteristics {
	text-align: left;
}

.hub .column .characteristics:last-of-type {
	margin-bottom: 50px;
}

.hub .column .characteristics .fas {
	margin-right: 15px;
	color: #fe775a;
}

.hub .column .btn {
	min-width: 155px;
	display: inline-block;
	padding: 20px 40px;
}

/* green */

.green {
	background: rgb(63, 166, 187);
	background: linear-gradient(
		36deg,
		rgba(63, 166, 187, 1) 0%,
		rgba(65, 188, 165, 1) 100%
	);
	color: #fff;
	text-align: center;
}

.green .container {
	padding: 60px 0 100px;
}

.green h2 {
	margin-bottom: 45px;
}

.green p {
	line-height: 30px;
	margin-bottom: 60px;
}

.green .cell {
	width: 25%;
	padding: 25px 0px 25px;
}

.green .row.one .cell {
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

.green .row.one .cell:last-of-type {
	border-right: 0px;
}

.green .row.two .cell {
	border-right: 1px solid white;
}

.green .row.two .cell:last-of-type {
	border-right: 0px;
}

.green .row.two .cell:last-of-type img {
	margin-top: 10px;
}

.green .cell img {
	margin-bottom: 25px;
}

.cell h2 {
	display: inline-block;
	margin-right: 5px;
	font-size: 37px;
	margin-bottom: 20px;
}

.cell .plus {
	display: inline-block;
	vertical-align: 7px;
	font-size: 23px;
}

.cell .desc {
	font-size: 12px;
	margin-bottom: 0px;
}

/* brands */

.brands .container {
	width: 1000px;
	padding: 50px 0px 0px 0px;
}

.brands .countries .number {
	font-size: 48px;
	margin-bottom: 30px;
}

.brands .countries p {
	max-width: 180px;
	line-height: 30px;
}

.brands .logos {
	padding: 12px 0px 0px 0px;
}

.brands .logos .cell {
	width: 24%;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
}

.brands .row.one .cell img,
.brands .row.two .cell img {
	width: 130px;
}

.brands .row.one {
	margin-bottom: 5px;
}

.brands .row.two .cell:nth-child(1) img {
	width: 112px;
}

.brands .row.two .cell:nth-child(3) {
	padding-left: 7px;
	text-align: left;
}

.brands .row.two .cell:nth-child(4) {
	padding-left: 7px;
	text-align: left;
	vertical-align: -20px;
}

.brands .row.two .cell:nth-child(3) img {
	width: 100px;
}

.brands .row.two .cell:nth-child(4) img {
	width: 140px;
}

.brands .row.one ul li {
	vertical-align: middle;
}

.brands .row.two .cell {
	border-right: 1px solid white;
}

.brands .row.two .cell:last-of-type {
	border-right: 0px;
}

.brands .row.two .cell:last-of-type img {
	margin-top: 10px;
}

.brands .cell img {
	margin-bottom: 25px;
}

/* start */

.start {
	padding: 50px 0px 0px 0px;
}

.start .text-left {
	padding: 45px 100px 55px 0px;
}

.start .text-left h2 {
	margin-bottom: 40px;
}

.start .text-left p:first-of-type {
	margin-bottom: 40px;
	line-height: 30px;
}

.start .btn.orange {
	padding: 20px;
	min-width: 185px;
	display: inline-block;
	text-align: center;
	margin-bottom: 50px;
}

.start .text-left p:last-of-type {
	font-size: 13px;
}

.start .profile {
	text-align: right;
}

.start .w-50 .woman {
	width: 320px;
}

/* info */

.info {
	background: #33475b;
}

.info .container {
	padding: 40px 0px 60px;
}

.info li {
	list-style: none;
	margin-bottom: 20px;
}

.info h4 {
	color: white;
	margin-bottom: 30px;
}

.info p {
	color: #cad6e2;
}

.info a {
	color: #cad6e2;
}

.w-25 li.block {
	display: inline-block;
}

.w-25 li.block a {
	color: #cad6e2;
}

.info .w-25:last-of-type li:nth-child(1n + 5) {
	margin-bottom: 30px;
}

/* copy */

.languages {
	background: #33475b;
	text-align: center;
}

.languages .menu-inline li a {
	text-decoration: none;
	color: #cad6e2;
}

.languages hr {
	color: #cad6e2;
	background: #cad6e2;
}

/* copy */

.copy {
	background: #33475b;
	color: #cad6e2;
}

.copy .container {
	padding: 45px 0px 50px;
}

.grey-logo {
	margin-bottom: 5px;
}

.copy .w-50:last-of-type {
	text-align: right;
}

.copy .w-50:last-of-type li a {
	color: #cad6e2;
}

.copy .copyright {
	color: white;
}
